{% extends 'includes/dashboard_nav.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
{% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row mb-4">
        <main class="col-md-12">
            <article class="card">
              <!-- Zero configuration table -->
              <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">All Orders</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body card-dashboard">
                                    <p class="card-text"></p>
                                    <div class="table-responsive">
                                        <table class="table zero-configuration">
                                          <thead>
                                            <tr>
                                            <th scope="col">No.</th>
                                            <th scope="col">Order Number</th>
                                            <th scope="col">Full Name</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Order Total</th>
                                            <th scope="col">Payment</th>
                                            <th scope="col">Order Status</th>
                                            <!-- <th scope="col">Order date</th> -->
                                            <th scope="col">Actions</th>
                                            
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for object in orders_list %}

                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <th scope="row"><a href="{% url 'order_details' object.order_number %}">{{object.order_number}}</a></th>
                                                <td>{{object.user.full_name}}</td>
                                                <td>{{object.phone}}</td>
                                                <td>Ksh {{object.order_total}}</td>
                                                <td><span class="badge badge-success badge-pill">{{object.payment.status}}</span></td>
            
                                                    {% if object.status == "Received" %}
                                                    <td> <span class="badge badge-primary badge-pill">{{ object.status }}</span></td>
                                                    {% elif object.status == "Completed" %}
                                                    <td>  <span class="badge badge-success badge-pill">{{ object.status }}</span></td>
                                                    {% elif object.status == "Dispatched" %}
                                                    <td>  <span class="badge badge-warning badge-pill">{{ object.status }}</span></td>
                                                    {% else %}
                                                    <td>  <span class="badge badge-secondary badge-pill">{{ object.status }}</span></td>
                                                    {% endif %}

                                                <!-- <td>{{object.created_at}}</td> -->
                                               
                                                    <td>
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle" href="#" role="button" id="actionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="caret">Actions</span>
                                                            </a>
                                                            <div class="dropdown-menu" aria-labelledby="actionsDropdown">
                                                                {% if object.status == 'Completed' %}
                                                                <p class="text-danger p-1">Order Completed. <br>No action can be done on this order</p>
                                                                {% elif object.status == 'Received' or object.status == 'Pending' %}
                                                                <form method="post" action="{% url 'order_details' object.order_number %}">
                                                                    {% csrf_token %}
                                                                    <button type="submit" name="action" value="mark_dispatched" class="dropdown-item">Dispatch Order</button>
                                                                </form>
                                                                {% elif object.status == 'Dispatched' %}
                                                                <form method="post" action="{% url 'order_details' object.order_number %}">
                                                                    {% csrf_token %}
                                                                    <button type="submit" name="action" value="mark_completed" class="dropdown-item">Mark Completed</button>
                                                                </form>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                 
                                                <script>
                                                    $(document).ready(function () {
                                                        $('.dropdown-toggle').dropdown();
                                                    });
                                                </script>     
                                              </tr>
                                            {% endfor %}
                                          </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th >No.</th>
                                                    <th >Order Number</th>
                                                    <th >Full Name</th>
                                                    <th >Phone</th>
                                                    <th >Order Total</th>
                                                    <th >Payment</th>
                                                    <th >Order Status</th>
                                                    <!-- <th >Order date</th> -->
                                                    <th >Actions</th>
                                                    
                                                    
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

  
{% endblock %}