{% extends 'base.html' %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
{% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
      <div class="content-wrapper">
          <div class="content-body">
              <section class="row flexbox-container">
                  <div class="col-md-12 d-flex justify-content-center">
                      <div class="card bg-authentication rounded-0 mb-0 w-100">
                          <div class="row m-0">
                            
                              <div class="col-md-12 p-0">
                                  <div class="card rounded-0 mb-0 px-2">
                                      <div class="card-header pb-1">
                                          <div class="card-title">
                                              <h4 class="mb-0">Change Password</h4>
                                          </div>
                                      </div>
                                      <p class="px-2">Please Fill The Form below to change your new password.</p>
                                      <div class="card-content">
                                          <div class="card-body pt-1 ">
                                            <form action="{% url 'change_password' %}" method="POST">
                                              {% csrf_token %}
                                                  <fieldset class="form-label-group">
                                                    <input type="password" name="current_password" placeholder="Current Passowd" class="form-control" required>
                                                      <label for="current_password">Current Password</label>
                                                  </fieldset>

                                                  <fieldset class="form-label-group">
                                                    <input type="password" name="new_password" placeholder="Create New Passowd" class="form-control" required>
                                                    <label for="">Create New Password</label>
                                                  </fieldset>

                                                  <fieldset class="form-label-group">
                                                    <input type="password" name="confirm_password" placeholder="Confirm New Passowd" class="form-control" required>
                                                    <label for="">Confirm New Password</label>
                                                  </fieldset>
                                                  <div class="row pt-2">
                                                      <div class="col-12 col-md-12 mb-1">
                                                          <button type="submit" class="btn btn-primary btn-block ">Change Password</button>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>

          </div>
      </div>
            </article> 
        </main>
    </div>
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

  
{% endblock %}