{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->

          <div class="content-body">
              <section class="row flexbox-container">
                  <div class="col-xl-12 col-md-9 col-10 d-flex justify-content-center px-0">
                      <div class="card bg-authentication rounded-0 mb-0">
                          <div class="row">
                              
                              <div class="col-lg-12 col-12 ">
                                  <div class="card rounded-0 mb-0 px-2 py-1" style="height: 350px;">
                                      <div class="card-header pb-1">
                                          <div class="card-title">
                                              <h4 class="mb-0">Recover your password</h4>
                                          </div>
                                      </div>
                                      <p class="px-2 mb-0">Please enter your email address and we'll send you instructions on how to reset your password.</p>
                                      <div class="card-content">
                                          <div class="card-body">
                                            {% include 'includes/alerts.html' %}
                                            <form action="{% url 'forgotPassword' %}" method="POST">
                                                {% csrf_token %}
                                                  <div class="form-label-group">
                                                      <input type="email" class="form-control" placeholder="Email Address" name="email" >
                                                      <label for="">Email</label>
                                                  </div>
                                                  <div class="float-md-right d-block mt-3">
                                                    <button type="submit" class="btn btn-primary btn-block">Recover Password</button>
                                                  </div>
                                              </form>
                                              <div class="float-md-left d-block mt-3">
                                                  <a href="{% url 'login' %}" class="btn btn-outline-primary btn-block px-75">Back to Login</a>
                                              </div>
                                             
                                              
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </section>
          </div>
       <!-- ========================= SECTION CONTENT END// ========================= -->
         

     
    
  
    {% endblock %}