{% extends 'includes/dashboard_nav.html' %}

{% block content %}

<section class="section-conten padding-y bg">
{% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
        <main class="col-md-12">
            <article class="card">
      <div class="content-wrapper">
          <div class="content-body">
              <section class="row flexbox-container">
                  <div class="col-md-12 d-flex justify-content-center">
                      <div class="card bg-authentication rounded-0 mb-0 w-100">
                          <div class="row m-0">
                            
                              <div class="col-md-12 p-0">
                                  <div class="card rounded-0 mb-0 px-2">
                                      <div class="card-header pb-1">
                                          <div class="card-title">
                                              <h4 class="mb-0">Add Product Variation</h4>
                                          </div>
                                      </div>
                                      <p class="px-2">.</p>
                                      <div class="card-content">
                                          <div class="card-body pt-1 ">
                                            <form action="{% url 'add_product_variation' %}" method="POST" enctype="multipart/form-data">
                                              {% csrf_token %}
                                              <label for="id_product">Product</label>
                                              <fieldset class="form-label-group">
                                                <select name="product" class="form-control" required>
                                                    <option value="" selected disabled>Choose a Product</option>
                                                    {% for product in form.fields.product.queryset.all %}
                                                        <option value="{{ product.pk }}">{{ product.product_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                
                                            </fieldset>
                                            <label for="variation_category">Variation Category</label>
                                            <fieldset class="form-label-group">
                                                <select name="variation_category" class="form-control" required>
                                                    <option value="" selected disabled>Choose a Variation Category</option>
                                                    {% for choice in form.fields.variation_category.choices %}
                                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                               
                                            </fieldset>
                                            <label for="variation value">Variation Value</label>
                                                <fieldset class="form-label-group">
                                                    <input type="text" name="variation_value" placeholder="Variation Value" class="form-control">
                                                    
                                                </fieldset>
                                                <label class="form-check-label text-dark" for="id_is_available">Is Active</label>
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input type="checkbox" name="is_available" class="form-check-input" id="id_is_available" checked>
                                                        
                                                    </div>
                                                </div>
                                                  <div class="row pt-2">
                                                      <div class="col-12 col-md-12 mb-1">
                                                          <button type="submit" class="btn btn-primary btn-block ">Add Product Variation</button>
                                                      </div>
                                                  </div>
                                              </form>
                                              {{ form.errors }}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>

          </div>
      </div>
            </article> 
        </main>
    </div>
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

  
{% endblock %}