{% extends 'base.html' %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
{% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Variations</strong>
                <a href="{% url 'add_product_variation' %}" class="btn btn-primary   text-center float-right btn-inline">Add Product Variation</a>

            </header>
              <!-- Zero configuration table -->
              <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">All Products Variations</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body card-dashboard">
                                    <p class="card-text">You can as well click on to view product in detail</p>
                                    <div class="table-responsive">
                                        <table class="table zero-configuration">
                                          <thead>
                                            <tr>
                                            <th scope="col">No.</th>
                                              <th scope="col">Product Name</th>
                                              <th scope="col">Variation Category</th>
                                              <th scope="col">Variation Value</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for object in product_variations %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                              <td>{{object.product}}</td>
                                              <td>{{object.variation_category}}</td>
                                              <td>{{object.variation_value}}</td>
                                              
                                            </tr>
                                            {% endfor %}
                                            
                                          </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Product Name</th>
                                                    <th>Price</th>
                                                    <th>Product image</th>
                                                    
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

  
{% endblock %}