{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search in request.path' %}
        <h2 class="title-page">Search Result</h2>
        {% else %}
        <h2 class="title-page">Our Store</h2>
        {% endif %}
    </div> <!-- container //  -->
    </section>

    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <section id="dropdown-directions">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="card">
                          <div class="card-header">
                              <h4 class="card-title"><small>Filter products using options in below dropdown</small></h4>
                          </div>
                          <div class="card-content">
                              <div class="card-body">
                                  <div class="direction-dropdown-default mt-1">
                                      <div class="btn-group mr-1 mb-1">
                                          <div class="dropdown ">
                                              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                 Categories
                                              </button>
                                              <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{% url 'store' %}">All products</a>
                                                {% for category in links %}
                                                  <a class="dropdown-item" href="{{category.get_url}}">{{category.category_name}}</a>
                                                  {% endfor %}
                                              </div>
                                          </div>
                                      </div>
                                     
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
        </article> <!-- filter-group  .// -->
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto"><b>{{ product_count }}</b> items found</span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                    <a href="{{product.get_url}}"> <img src="{{product.images.url}}"></a>
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
                        <div class="price-wrap mt-1">
                            <span class="price mb-2">ksh {{product.price}}</span>
                            <del class="price-old">ksh 1980</del>
                        </div> <!-- price-wrap.// -->
                    </div>
                    <a href="{{product.get_url}}" class="btn btn-block btn-primary">View details</a>
                </figcaption>
            </figure>
        </div> <!-- col.// -->
        {% endfor  %}
    </div> <!-- row end.// -->
    
    
    <nav class="mt-4" aria-label="Page navigation sample">
        {% if products.has_other_pages %}
          <ul class="pagination">
            {% if products.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}    
            {% for i in products.paginator.page_range %}
              {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
              {% endif %}
            {% endfor %}
            {% if products.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
            {% else %} 
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
          </ul>
        {% endif %}
      </nav>
      
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
{% endblock %}
{% include 'includes/footer.html' %}